* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100vh;
    width: 100%;
    padding-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 70%;
    padding: 0 10%;
    margin-top: 20px;
  }
  
  .container {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
    width: 30%;
    height: 80%;
    border: 1px solid rgba(0, 0, 0, 0.185);
    border-radius: 5px;
  }
  
  .title {
    font-size: 30px;
    font-family: "Lobster", serif;
    transform: translate(10%, 0);
  }
  
  .title span {
    font-size: 25px;
    font-family: "Allura", serif;
    display: block;
  }
  
  .alternative-options {
    display: flex;
    justify-content: space-around;
    width: 80%;
    border-top: 1px solid rgba(0, 0, 0, 0.158);
    padding-top: 25px;
    height: 20%;
  }
  
  .have-account {
    font-family: "Onest", serif;
    font-size: 14px;
  }
  
  .have-account span a {
    margin-left: 10px;
    text-decoration: none;
    color: #0051ffa4;
  }
  
  .have-account span a:hover {
    color: #0051ff;
  }
  